[submodule "6-grading-tests"]
	path = 6-grading-tests
	url = https://github.com/spbu-coding/6-grading-tests.git
[submodule "6-AndreyBryns"]
	path = 6-AndreyBryns
	url = https://github.com/spbu-coding/6-AndreyBryns.git
[submodule "6-artmotika"]
	path = 6-artmotika
	url = https://github.com/spbu-coding/6-artmotika.git
[submodule "6-AShlegel"]
	path = 6-AShlegel
	url = https://github.com/spbu-coding/6-AShlegel.git
[submodule "6-AzimMuradov"]
	path = 6-AzimMuradov
	url = https://github.com/spbu-coding/6-AzimMuradov.git
[submodule "6-danielsheh02"]
	path = 6-danielsheh02
	url = https://github.com/spbu-coding/6-danielsheh02.git
[submodule "6-esvault"]
	path = 6-esvault
	url = https://github.com/spbu-coding/6-esvault.git
[submodule "6-fertmanasa"]
	path = 6-fertmanasa
	url = https://github.com/spbu-coding/6-fertmanasa.git
[submodule "6-foreverjun"]
	path = 6-foreverjun
	url = https://github.com/spbu-coding/6-foreverjun.git
[submodule "6-IAmFunkyFrog"]
	path = 6-IAmFunkyFrog
	url = https://github.com/spbu-coding/6-IAmFunkyFrog.git
[submodule "6-IlyaMuravjov"]
	path = 6-IlyaMuravjov
	url = https://github.com/spbu-coding/6-IlyaMuravjov.git
[submodule "6-IraSheremet"]
	path = 6-IraSheremet
	url = https://github.com/spbu-coding/6-IraSheremet.git
[submodule "6-kettlberry"]
	path = 6-kettlberry
	url = https://github.com/spbu-coding/6-kettlberry.git
[submodule "6-Lev0nid"]
	path = 6-Lev0nid
	url = https://github.com/spbu-coding/6-Lev0nid.git
[submodule "6-MDubovik"]
	path = 6-MDubovik
	url = https://github.com/spbu-coding/6-MDubovik.git
[submodule "6-michael555444"]
	path = 6-michael555444
	url = https://github.com/spbu-coding/6-michael555444.git
